<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			       <h1> Latest Orders </h1>
				   <hr>
			    </div>
			    <div class="panel-body">
			        <div class="row">
			            <div class="col-lg-12">
			              <% @orders.each do |order| %>
							<b>
							
							<% if(order.order_type == "breakfast") %>
							    BreakFast at ( <%= order.created_at %> )</b><br>
                                <% elsif(order.order_type == "lunch")%>
                                Lunch at ( <%= order.created_at %> )</b><br>
							    <% else %>
							    Dinner at ( <%= order.created_at %> ) </b><br>
							  <% end %>
                              <hr>
						
						   <% end %>  
			            </div>
			        </div>
			    </div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			       <h1> Friend's Activties </h1>
				   <hr>
			    </div>
			    <div class="panel-body">
			        <div class="row">
					      <% @all.each do |gorder| %>
						   <% gorder.each do |order| %>
						     <b>
						      <% @allmyFriends.each do |user|%>
						         <%= user.first_name %>
						       <%end%>
						       has created an order for <% if order.order_type == "breakfast" %>BreakFast
							   <% elsif order.order_type == "lunch" %>Lunch 
						       <% else %>Dinner
					           <% end %>from <%= order.resturant %> <br> 
							   <hr>
					    	<% end %> </b>
						     <br>
					      <% end %> 
                          <hr>
			            </div>
			        </div>
			    </div>
			</div>
		</div> 

	</div>
</div>